html, body {
    top: 0px;
    left: 0px;

    padding: 0;
    margin: 0;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3em;
    text-align: center;

    background-color: #7b1111;
    color: #eee;
    font-family: sans-serif;

    padding-top: 3vh;
    padding-bottom: 3vh;
}