html, body {
    top: 0px;
    left: 0px;

    padding: 0;
    margin: 0;

    color: #222;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3em;
    text-align: center;

    background-color: #7b1111;
    color: #eee;
    font-family: sans-serif;

    padding-top: 3vh;
    padding-bottom: 3vh;
}

.info {
    width: 100%;
    background-color: #eee;
    font-size: 1.2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-family: sans-serif;
}
.large {
    font-size: 2em;
}
.content {
    padding-left: 12.5%;
    width: 75%;
    padding-top: 4vh;
}